#
# Copyright (c) Andras Csizmadia <andras@vpmedia.hu> (www.vpmedia.hu)
# author: Andras Csizmadia <andras@vpmedia.hu>
# see: https://docs.npmjs.com/cli/v8/using-npm/developers#keeping-files-out-of-your-package
#

test/
.github/
babel.config.js
.browserslistrc
.DS_Store
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
lint-staged.config.js
.npmignore
.npmrc
.prettierignore
prettier.config.js
bitbucket-pipelines.yml
vitest.config.js
tsconfig.json
webpack.config.babel.js
