#
# Copyright (c) Andras Csizmadia <andras@vpmedia.hu> (www.vpmedia.hu)
# author: Andras Csizmadia <andras@vpmedia.hu>
# see: https://docs.npmjs.com/cli/v8/using-npm/developers#keeping-files-out-of-your-package
#

.browserslistrc
.DS_Store
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.github/
.gitignore
.npmignore
.npmrc
.oxlintrc.json
.prettierignore
babel.config.js
bitbucket-pipelines.yml
commitlint.config.js
eslint.config.js
lefthook.yml
lint-staged.config.js
prettier.config.js
test/
tsconfig.json
vitest.config.js
webpack.config.babel.js
