#
# Copyright (c) Andras Csizmadia <andras@vpmedia.hu> (www.vpmedia.hu)
# author: Andras Csizmadia <andras@vpmedia.hu>
# see: https://docs.npmjs.com/cli/v8/using-npm/developers#keeping-files-out-of-your-package
#

# folders
.github/
build/
coverage/
dist/
logs/
node_modules/
out/

# files
.DS_Store
.editorconfig
.gitattributes
.gitignore
.npmignore
.oxlintrc.json
.prettierignore
commitlint.config.js
lefthook.yml
pnpm-lock.yaml
pnpm-workspace.yaml
prettier.config.js
tsconfig.json
vitest.config.js
